.z-10 {
  z-index: 10;
}
.headerback {
  position: relative;
  z-index: 0;
  background-image: url("../img/headerback.jpg");
  background-position: center;
  background-size: cover;
  min-height: 600px;
}
.overlay-jumbotron {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background-color: #0d6efd;
}
